@import "./variables";
@import "./experience";
@import "./extracurricular";

.aboutDiv {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
}