@import "./variables";

.experienceFragHeading {
    // text-align: center;
    font-size: 1.7rem;
    text-align: center;
    padding: 20px;
}

.experienceGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 30px;
    @media (max-width: $mobileMax) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.experienceCard {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.experienceCardImgDiv {
    margin: 10px 5px 10px 10px;
    display: flex;
}

.experienceRoleText {
    margin: 0px;
    font-size: 0.9rem;
}

.experienceTitleText {
    margin: 0px;
}

.experienceDurationText {
    margin: 0px;
    font-size: 0.8rem;
}