@import "./variables";

html {
    font-family: $fontFamilyRobotoMono;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
}

button {
    outline: none !important;
}

a {
    outline: none !important;
}