html {
  font-family: var(--font-family-roboto-mono);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-roboto-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

button {
  outline: none !important;
}

a {
  outline: none !important;
}
