:root {
  --font-family-jetbrains-mono:
    "JetBrains Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas,
    "Liberation Mono", monospace;
  --mobile-max: 950px;
  --bs-body-font-family: var(--font-family-jetbrains-mono);
}
